<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="preload" href="/assets/fonts/archivo-latin-wdth-normal.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="/assets/css/fonts.css">
<link rel="stylesheet" href="/assets/css/site.css">
<script type="application/ld+json">{"@context":"https://schema.org","@type":"Person","name":"Josh Wood","alternateName":"Joshua Wood","nationality":{"@type":"Country","name":"United States"},"homeLocation":{"@type":"Place","name":"Málaga, Spain"},"url":"https://josh36wood.com/","sameAs":["{{ site.data.site.instagram.url }}"{% if site.data.site.youtube.url != "" %},"{{ site.data.site.youtube.url }}"{% endif %}]}</script>
</head>
<body id="top">
<a class="skip" href="#main">Skip to the content</a>
{{ content }}
</body>
</html>
